.hero .menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--menu-padding-top);
  margin-left: var(--root-padding-left);
  margin-right: var(--root-padding-right);
  width: calc(100% - var(--root-padding-left) - var(--root-padding-right));
  height: var(--menu-height);
}

.hero .menu .logo {
  width: 7.73349vw;
  height: 2.49851vw;
  background-image: url("../images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hero .menu .login, .hero .menu .register {
  font-size: 1.07079vw;
  color: #ffffff;
  cursor: pointer;
}

.hero .menu .login {
  margin-left: auto;
}

.hero .menu .register {
  margin-left: 2.73647vw;
  padding: 0.59488vw 0.95181vw;
  border: 2px solid #ffffff;
  border-radius: 1.78465vw;
}

.hero .content-container {
  display: flex;
  margin-left: var(--root-padding-left);
}

.hero .content-container .content {
  width: var(--hero-content-width);
}

.hero .content-container .content .content-vector {
  margin-top: 11.83819vw;
  width: 5.94884vw;
  height: 1.18977vw;
  background-image: url("../images/content-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-title {
  margin-top: 2.49851vw;
  width: 24.6282vw;
  height: 6.78168vw;
  font-size: 2.97442vw;
  font-weight: bold;
  color: #33334f;
}

.hero .content-container .content .content-body {
  margin-top: 2.37954vw;
  width: 26.6508vw;
  height: 4.99703vw;
  font-size: 1.07079vw;
  font-weight: bold;
  color: #767ead;
}

.hero .content-container .content .content-btn-group {
  margin-top: 2.37954vw;
  width: 23.67638vw;
  height: 3.27186vw;
  font-size: 0px;
}

.hero .content-container .content .content-btn-group .sign-up-btn, .hero .content-container .content .content-btn-group .watch-video-btn {
  width: 10.88638vw;
  height: 3.27186vw;
  border-radius: 1.63593vw;
  font-size: 0.95181vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.hero .content-container .content .content-btn-group .sign-up-btn:hover, .hero .content-container .content .content-btn-group .watch-video-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.hero .content-container .content .content-btn-group .sign-up-btn:active, .hero .content-container .content .content-btn-group .watch-video-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.hero .content-container .content .content-btn-group .sign-up-btn {
  margin-right: 1.78465vw;
  background-color: #8065ff;
  color: #fafeff;
}

.hero .content-container .content .content-btn-group .watch-video-btn {
  background-color: #ffffff;
  color: #8065ff;
}

.hero .content-container .content .content-share {
  display: flex;
  margin-top: 4.75907vw;
  font-size: 0.95181vw;
  color: #7f87b2;
}

.hero .content-container .content .content-share .share-twitter, .hero .content-container .content .content-share .share-facebook {
  padding-left: 2.37954vw;
}

.hero .content-container .content .content-share .share-twitter {
  margin-right: 2.14158vw;
  background-image: url("../images/twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-share .share-facebook {
  background-image: url("../images/facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-text {
  margin-top: 4.75907vw;
  font-size: 1.07079vw;
  color: #33334f;
}

.hero .content-container .content .content-brand {
  display: flex;
  justify-content: space-between;
  margin-top: 3.98572vw;
  width: 25.87745vw;
}

.hero .content-container .content .content-brand .brand-1 {
  height: 1.78465vw;
  background-image: url("../images/hero/brand1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-brand .brand-1 {
  width: 1.84414vw;
}

.hero .content-container .content .content-brand .brand-2 {
  width: 1.66568vw;
}

.hero .content-container .content .content-brand .brand-3 {
  width: 2.85544vw;
}

.hero .content-container .content .content-brand .brand-4 {
  width: 4.46163vw;
}

.hero .content-container .content .content-brand .brand-5 {
  width: 1.96312vw;
}

.hero .content-container .content .content-brand .brand-2 {
  height: 1.78465vw;
  background-image: url("../images/hero/brand2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-brand .brand-1 {
  width: 1.84414vw;
}

.hero .content-container .content .content-brand .brand-2 {
  width: 1.66568vw;
}

.hero .content-container .content .content-brand .brand-3 {
  width: 2.85544vw;
}

.hero .content-container .content .content-brand .brand-4 {
  width: 4.46163vw;
}

.hero .content-container .content .content-brand .brand-5 {
  width: 1.96312vw;
}

.hero .content-container .content .content-brand .brand-3 {
  height: 1.78465vw;
  background-image: url("../images/hero/brand3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-brand .brand-1 {
  width: 1.84414vw;
}

.hero .content-container .content .content-brand .brand-2 {
  width: 1.66568vw;
}

.hero .content-container .content .content-brand .brand-3 {
  width: 2.85544vw;
}

.hero .content-container .content .content-brand .brand-4 {
  width: 4.46163vw;
}

.hero .content-container .content .content-brand .brand-5 {
  width: 1.96312vw;
}

.hero .content-container .content .content-brand .brand-4 {
  height: 1.78465vw;
  background-image: url("../images/hero/brand4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-brand .brand-1 {
  width: 1.84414vw;
}

.hero .content-container .content .content-brand .brand-2 {
  width: 1.66568vw;
}

.hero .content-container .content .content-brand .brand-3 {
  width: 2.85544vw;
}

.hero .content-container .content .content-brand .brand-4 {
  width: 4.46163vw;
}

.hero .content-container .content .content-brand .brand-5 {
  width: 1.96312vw;
}

.hero .content-container .content .content-brand .brand-5 {
  height: 1.78465vw;
  background-image: url("../images/hero/brand5.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content-container .content .content-brand .brand-1 {
  width: 1.84414vw;
}

.hero .content-container .content .content-brand .brand-2 {
  width: 1.66568vw;
}

.hero .content-container .content .content-brand .brand-3 {
  width: 2.85544vw;
}

.hero .content-container .content .content-brand .brand-4 {
  width: 4.46163vw;
}

.hero .content-container .content .content-brand .brand-5 {
  width: 1.96312vw;
}

.hero .content-container .vector {
  width: var(--vector-width);
  height: 59.07198vw;
  background-image: url("../images/vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature {
  margin-top: 11.89768vw;
}

.feature .feature-vector {
  margin: 0 auto;
  width: 5.94884vw;
  height: 1.18977vw;
  background-image: url("../images/content-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-title {
  margin: 0 auto;
  margin-top: 2.37954vw;
  width: 32.59964vw;
  font-size: 1.78465vw;
  font-weight: bold;
  color: #33334f;
  text-align: center;
}

.feature .feature-text {
  margin: 0 auto;
  margin-top: 2.37954vw;
  width: 43.54551vw;
  font-size: 0.95181vw;
  color: #767ead;
  text-align: center;
}

.feature .feature-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: var(--root-padding-left);
  margin-right: var(--root-padding-right);
}

.feature .feature-list .feature-item {
  margin-top: 6.90065vw;
  width: 23.7%;
  text-align: center;
}

.feature .feature-list .feature-item .item-title {
  margin-top: 1.90363vw;
  font-size: 1.07079vw;
  font-weight: 500;
  color: #33334f;
}

.feature .feature-list .feature-item .item-text {
  margin-top: 1.90363vw;
  font-size: 0.95181vw;
  color: #767ead;
}

.feature .feature-list .feature-item-1 {
  margin-right: calc((100% - 23.7% * 3) / 2);
}

.feature .feature-list .feature-item-1 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-2 {
  margin-right: calc((100% - 23.7% * 3) / 2);
}

.feature .feature-list .feature-item-2 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-3 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-4 {
  margin-right: calc((100% - 23.7% * 3) / 2);
}

.feature .feature-list .feature-item-4 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-5 {
  margin-right: calc((100% - 23.7% * 3) / 2);
}

.feature .feature-list .feature-item-5 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item5.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-6 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item6.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-7 {
  margin-right: calc((100% - 23.7% * 3) / 2);
}

.feature .feature-list .feature-item-7 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item7.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-8 {
  margin-right: calc((100% - 23.7% * 3) / 2);
}

.feature .feature-list .feature-item-8 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item8.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-9 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item9.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-item-10 .item-image {
  margin: 0 auto;
  width: 7.73349vw;
  height: 6.96014vw;
  background-image: url("../images/feature/item10.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.feature .feature-list .feature-subscribe {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1.90363vw 2.37954vw;
  width: 34.8602vw;
  height: 14.51517vw;
  background-color: #33334f;
  border-radius: 0.59488vw;
}

.feature .feature-list .feature-subscribe .subscribe-title {
  font-size: 1.78465vw;
  font-weight: 500;
  color: #ffffff;
}

.feature .feature-list .feature-subscribe .subscribe-text {
  margin-top: 1.30874vw;
  font-size: 0.95181vw;
  color: #ffffff;
}

.feature .feature-list .feature-subscribe .subscribe-email {
  position: relative;
  margin-top: 2.02261vw;
}

.feature .feature-list .feature-subscribe .subscribe-email .subscribe-input {
  padding: 1.18977vw 1.90363vw;
  width: 30.10113vw;
  height: 3.5693vw;
  border-radius: 1.78465vw;
  font-size: 0.95181vw;
  color: #767ead;
}

.feature .feature-list .feature-subscribe .subscribe-email .subscribe-input::placeholder {
  color: #767ead;
}

.feature .feature-list .feature-subscribe .subscribe-email .subscribe-btn {
  position: absolute;
  top: 0.29744vw;
  right: 0.35693vw;
  width: 9.28019vw;
  height: 2.97442vw;
  border-radius: 1.48721vw;
  background-color: #e4e5ef;
  font-size: 0.95181vw;
  font-weight: 500;
  color: #767ead;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7);
}

.feature .feature-list .feature-subscribe .subscribe-email .subscribe-btn:active {
  transition: transform .2s;
  transform: scale(0.9);
}

.integration {
  display: flex;
  padding-left: var(--root-padding-left);
  height: 77.81083vw;
  background-image: url("../images/integration/integration_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.integration .content .content-vector {
  margin-top: 24.39024vw;
  width: 5.94884vw;
  height: 1.18977vw;
  background-image: url("../images/content-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.integration .content .content-title {
  margin-top: 2.37954vw;
  width: 18.67936vw;
  height: 4.40214vw;
  font-size: 1.78465vw;
  font-weight: bold;
  color: #33334f;
}

.integration .content .content-text {
  margin-top: 2.61749vw;
  width: 25.52052vw;
  height: 5.59191vw;
  font-size: 0.95181vw;
  color: #767ead;
}

.integration .content .content-btn-group {
  margin-top: 2.37954vw;
  width: 23.67638vw;
  height: 3.27186vw;
  font-size: 0px;
}

.integration .content .content-btn-group .sign-up-btn, .integration .content .content-btn-group .watch-video-btn {
  width: 10.88638vw;
  height: 3.27186vw;
  border-radius: 1.63593vw;
  font-size: 0.95181vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.integration .content .content-btn-group .sign-up-btn:hover, .integration .content .content-btn-group .watch-video-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.integration .content .content-btn-group .sign-up-btn:active, .integration .content .content-btn-group .watch-video-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.integration .content .content-btn-group .sign-up-btn {
  margin-right: 1.78465vw;
  background-color: #8065ff;
  color: #fafeff;
}

.integration .content .content-btn-group .watch-video-btn {
  background-color: #ffffff;
  color: #8065ff;
}

.integration .extensions .extension {
  box-shadow: -0.18477vw 0.68953vw 1.78465vw 0px rgba(178, 178, 178, 0.05);
}

.integration .extensions .extension-1 {
  border-radius: 50%;
  background-image: url("../images/integration/extension1.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-2 {
  border-radius: 50%;
  background-image: url("../images/integration/extension2.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-3 {
  border-radius: 50%;
  background-image: url("../images/integration/extension3.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-4 {
  border-radius: 50%;
  background-image: url("../images/integration/extension4.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-5 {
  border-radius: 50%;
  background-image: url("../images/integration/extension5.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-6 {
  border-radius: 50%;
  background-image: url("../images/integration/extension6.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-7 {
  border-radius: 50%;
  background-image: url("../images/integration/extension7.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-8 {
  border-radius: 50%;
  background-image: url("../images/integration/extension8.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-9 {
  border-radius: 50%;
  background-image: url("../images/integration/extension9.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.integration .extensions .extension-1 {
  width: 7.61452vw;
  height: 7.61452vw;
  background-color: #00467f;
  background-size: 44%;
  transform: translate(32.12374vw, 46.87686vw);
}

.integration .extensions .extension-2 {
  width: 5.6157vw;
  height: 5.6157vw;
  background-color: #ff850d;
  background-size: 57.2%;
  transform: translate(11.89768vw, 31.64783vw);
}

.integration .extensions .extension-3 {
  width: 7.61452vw;
  height: 7.61452vw;
  background-color: #ffffff;
  background-size: 63.28%;
  transform: translate(12.43308vw, 15.68114vw);
}

.integration .extensions .extension-4 {
  width: 7.61452vw;
  height: 7.61452vw;
  background-color: #ffffff;
  background-size: 47.66%;
  transform: translate(38.66746vw, 14.43189vw);
}

.integration .extensions .extension-5 {
  width: 7.73349vw;
  height: 7.73349vw;
  background-color: #13b5ea;
  background-size: 100%;
  transform: translate(39.91672vw, -5.25877vw);
}

.integration .extensions .extension-6 {
  width: 5.60976vw;
  height: 5.60976vw;
  background-color: #00d7be;
  background-size: 61.8%;
  background-position: 50% 56%;
  transform: translate(46.69839vw, 8.78049vw);
}

.integration .extensions .extension-7 {
  width: 7.61452vw;
  height: 7.61452vw;
  background-color: #e6b935;
  background-size: 54.69%;
  transform: translate(17.48959vw, 3.23022vw);
}

.integration .extensions .extension-8 {
  width: 12.07615vw;
  height: 12.07615vw;
  background-color: #ffffff;
  background-size: 68.47%;
  transform: translate(23.43843vw, -16.51993vw);
}

.integration .extensions .extension-9 {
  width: 7.61452vw;
  height: 7.61452vw;
  background-color: #2e60a3;
  background-size: 60.17%;
  background-position: 50% 56%;
  transform: translate(24.27127vw, -38.05473vw);
}

.industry {
  margin-top: -6.42475vw;
}

.industry .industry-vector {
  margin: 0 auto;
  width: 5.94884vw;
  height: 1.18977vw;
  background-image: url("../images/content-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.industry .industry-title {
  margin: 0 auto;
  margin-top: 2.37954vw;
  width: 21.65378vw;
  font-size: 1.78465vw;
  font-weight: bold;
  color: #33334f;
  text-align: center;
}

.industry .industry-text {
  margin: 0 auto;
  margin-top: 2.37954vw;
  width: 43.54551vw;
  font-size: 0.95181vw;
  color: #767ead;
  text-align: center;
}

.industry .industry-cases {
  display: flex;
  margin: 0 auto;
  width: 42.83165vw;
}

.industry .industry-cases .case {
  margin-top: 4.75907vw;
  width: 7.13861vw;
}

.industry .industry-cases .case .case-image {
  margin: 0 auto;
  width: 4.46163vw;
  height: 4.46163vw;
  border-radius: 1.18977vw;
  background-size: 56%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.industry .industry-cases .case .case-text {
  margin-top: 1.18977vw;
  font-size: 0.95181vw;
  font-weight: 500;
  text-align: center;
}

.industry .industry-cases .case-1 .case-image {
  background-image: url("../images/industry/case1.png");
}

.industry .industry-cases .case-2 .case-image {
  background-image: url("../images/industry/case2.png");
}

.industry .industry-cases .case-3 .case-image {
  background-image: url("../images/industry/case3.png");
}

.industry .industry-cases .case-4 .case-image {
  background-image: url("../images/industry/case4.png");
}

.industry .industry-cases .case-5 .case-image {
  background-image: url("../images/industry/case5.png");
}

.industry .industry-cases .case-6 .case-image {
  background-image: url("../images/industry/case6.png");
}

.industry .industry-cases .case-1 .case-image {
  background-color: #fff0f3;
  background-size: 42.6%;
}

.industry .industry-cases .case-1 .case-text {
  color: #ff1743;
}

.industry .industry-cases .case-2 .case-image {
  background-color: #eaf9ff;
}

.industry .industry-cases .case-2 .case-text {
  color: #32a5da;
}

.industry .industry-cases .case-3 .case-image {
  background-color: #fff6d3;
  background-size: 53.3%;
}

.industry .industry-cases .case-3 .case-text {
  color: #d2a500;
}

.industry .industry-cases .case-4 .case-image {
  background-color: #e4ffee;
}

.industry .industry-cases .case-4 .case-text {
  color: #359256;
}

.industry .industry-cases .case-5 .case-image {
  background-color: #f4f4ff;
}

.industry .industry-cases .case-5 .case-text {
  color: #4947d2;
}

.industry .industry-cases .case-6 .case-image {
  background-color: #e8f3ff;
  background-size: 45.3%;
}

.industry .industry-cases .case-6 .case-text {
  color: #007cff;
}

.start {
  display: flex;
  margin-top: 9.51814vw;
  padding-left: 22.0702vw;
}

.start .start-content .content-vector {
  margin-top: 6.42475vw;
  width: 5.94884vw;
  height: 1.18977vw;
  background-image: url("../images/content-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.start .start-content .content-title {
  margin-top: 2.37954vw;
  font-size: 1.78465vw;
  font-weight: 500;
  color: #33334f;
}

.start .start-content .content-text {
  margin-top: 1.5467vw;
  width: 25.52052vw;
  font-size: 1.07079vw;
  color: #767ead;
}

.start .start-content .start-btn-container {
  margin-top: 2.73647vw;
}

.start .start-content .start-btn-container .start-btn {
  padding: 0.95181vw 2.26056vw;
  height: 3.5693vw;
  border-radius: 1.78465vw;
  background-color: #33334f;
  font-size: 1.18977vw;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.start .start-content .start-btn-container .start-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.start .start-content .start-btn-container .start-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.start .start-content .start-btn-container .start-btn-vector {
  width: 9.87507vw;
  height: 2.91493vw;
  background-image: url("../images/start/no-credt-card-required.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(14.27722vw, -2.37954vw);
}

.start .start-vector {
  width: 39.5003vw;
  height: 31.76681vw;
  background-image: url("../images/start/start-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer {
  padding-left: var(--root-padding-left);
  padding-right: var(--root-padding-right);
  padding-bottom: 2.49851vw;
  background-color: #33334f;
}

.footer .sign-up {
  display: flex;
}

.footer .sign-up .sign-up-content {
  margin-top: 5.94884vw;
}

.footer .sign-up .sign-up-content .content-title {
  width: 31.64783vw;
  font-size: 1.78465vw;
  font-weight: bold;
  color: #ffffff;
}

.footer .sign-up .sign-up-content .content-text {
  margin-top: 2.14158vw;
  width: 35.33611vw;
  font-size: 0.95181vw;
  color: #767ead;
}

.footer .sign-up .sign-up-btn-group {
  margin-top: 7.55503vw;
  margin-left: auto;
  width: 23.67638vw;
  height: 3.27186vw;
  font-size: 0px;
}

.footer .sign-up .sign-up-btn-group .sign-up-btn, .footer .sign-up .sign-up-btn-group .watch-video-btn {
  width: 10.88638vw;
  height: 3.27186vw;
  border-radius: 1.63593vw;
  font-size: 0.95181vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.footer .sign-up .sign-up-btn-group .sign-up-btn:hover, .footer .sign-up .sign-up-btn-group .watch-video-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.footer .sign-up .sign-up-btn-group .sign-up-btn:active, .footer .sign-up .sign-up-btn-group .watch-video-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.footer .sign-up .sign-up-btn-group .sign-up-btn {
  margin-right: 1.78465vw;
  background-color: #8065ff;
  color: #fafeff;
}

.footer .sign-up .sign-up-btn-group .watch-video-btn {
  background-color: #ffffff;
  color: #8065ff;
}

.footer .features-and-integration {
  display: flex;
  margin-top: 5.94884vw;
}

.footer .features-and-integration .features {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  width: 60.0238vw;
}

.footer .features-and-integration .features .feature-title {
  position: absolute;
  font-size: 1.18977vw;
  font-weight: 500;
  color: #ffffff;
}

.footer .features-and-integration .features .feature {
  margin-top: 1.18977vw;
  padding-left: 0.95181vw;
  width: 50%;
  background-image: url("../images/footer/list-image.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  font-size: 0.95181vw;
  color: #767ead;
}

.footer .features-and-integration .features .feature-1, .footer .features-and-integration .features .feature-2 {
  margin-top: 3.5693vw;
}

.footer .features-and-integration .app-integration {
  position: relative;
  width: 10.35098vw;
}

.footer .features-and-integration .app-integration .app-integration-title {
  position: absolute;
  font-size: 1.18977vw;
  font-weight: 500;
  color: #ffffff;
}

.footer .features-and-integration .app-integration .app-integration {
  margin-top: 1.18977vw;
  font-size: 0.95181vw;
  color: #767ead;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon {
  display: inline-block;
  margin-right: 0.59488vw;
  width: 1.18977vw;
  height: 1.18977vw;
  border-radius: 5px;
  vertical-align: middle;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-1 {
  background-image: url("../images/footer/icon/icon1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-2 {
  background-image: url("../images/footer/icon/icon2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-3 {
  background-image: url("../images/footer/icon/icon3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-4 {
  background-image: url("../images/footer/icon/icon4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-5 {
  background-image: url("../images/footer/icon/icon5.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-6 {
  background-image: url("../images/footer/icon/icon6.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-7 {
  background-image: url("../images/footer/icon/icon7.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-8 {
  background-image: url("../images/footer/icon/icon8.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-9 {
  background-image: url("../images/footer/icon/icon9.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-1 {
  background-color: #13b5ea;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-2 {
  background-color: #e30512;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-3 {
  background-color: #ffffff;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-4 {
  background-color: #0172c6;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-6 {
  background-color: #ffffff;
}

.footer .features-and-integration .app-integration .app-integration .integration-icon-7 {
  background-color: #2ca01c;
}

.footer .features-and-integration .app-integration .app-integration-1 {
  margin-top: 3.5693vw;
}

.footer .ft {
  display: flex;
  margin-top: 6.06782vw;
}

.footer .ft .ft-left .ft-logo {
  width: 7.73349vw;
  height: 2.37954vw;
  background-image: url("../images/footer/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .ft .ft-left .ft-phone {
  margin-top: 2.37954vw;
  font-size: 1.18977vw;
  line-height: 2.37954vw;
  color: #767ead;
}

.footer .ft .ft-left .ft-email {
  margin-top: 1.78465vw;
  font-size: 1.18977vw;
  color: #767ead;
}

.footer .ft .ft-left .ft-share {
  display: flex;
  justify-content: space-between;
  margin-top: 2.37954vw;
  width: 12.49256vw;
}

.footer .ft .ft-left .ft-share .share-icon {
  width: 1.48721vw;
  height: 1.48721vw;
  cursor: pointer;
}

.footer .ft .ft-left .ft-share .share-icon-1 {
  background-image: url("../images/footer/share/share1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .ft .ft-left .ft-share .share-icon-2 {
  background-image: url("../images/footer/share/share2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .ft .ft-left .ft-share .share-icon-3 {
  background-image: url("../images/footer/share/share3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .ft .ft-left .ft-share .share-icon-4 {
  background-image: url("../images/footer/share/share4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .ft .ft-left .ft-share .share-icon-5 {
  background-image: url("../images/footer/share/share5.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .ft .ft-left .ft-copyright {
  margin-top: 2.37954vw;
  font-size: 0.83284vw;
  color: #767ead;
}

.footer .ft .ft-right {
  align-self: flex-end;
  margin-left: auto;
}

.footer .ft .ft-right .ft-site-link {
  display: flex;
  justify-content: space-between;
  font-size: 1.07079vw;
  color: #767ead;
}

.footer .ft .ft-right .ft-site-link .ft-site-link-group:last-child {
  margin-left: 10.70791vw;
}

.footer .ft .ft-right .ft-site-link .ft-site-link-group .site-link {
  display: block;
  text-align: right;
}

.footer .ft .ft-right .ft-site-link .ft-site-link-group .last-link {
  margin-top: 2.37954vw;
}

.footer .ft .ft-right .ft-lang {
  margin-top: 5.71089vw;
  margin-left: auto;
  width: 14.57466vw;
  height: 1.66568vw;
  background-image: url("../images/footer/lang.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

:root {
  --root-width: 100vw;
  --root-padding-left: 14.8721vw;
  --root-padding-right: 14.8721vw;
  --menu-height: 4.87805vw;
  --menu-padding-top: 1.18977vw;
  --hero-content-width: 31.40988vw;
  --vector-width: 53.77751vw;
}

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

html, body, button, ul, li {
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */