$root-width: 1681px;
$base-root-width: 1681px;
$base-root-padding-left: 250px;
$base-root-padding-right: 250px;
$base-menu-height: 82px;
$base-menu-padding-top: 20px;
$base-vector-width: 904px;
$base-hero-content-width: 528px;